/*
http://tutorialzine.com/2014/12/you-dont-need-icons-here-are-100-unicode-symbols-that-you-can-use/
*/
td.td-currency { position: relative; }
td.td-currency span::before {
    content: "Q.";
    position: absolute;
    left: 5px;
}
#addProductContainer { display: none; }
#addCustomerContainer { display: none; }
input#price { text-align: right; }

body.login {
    background: transparent url(../img/mw_400.jpg) no-repeat bottom left fixed;
}

body.logged {
    background: transparent url(../img/mw_250.jpg) no-repeat bottom left fixed;
}

.navbar-brand {
    background: transparent url(../img/mw_mini.jpg) no-repeat top left fixed;
    padding-left: 110px;
}
