/*
http://tutorialzine.com/2014/12/you-dont-need-icons-here-are-100-unicode-symbols-that-you-can-use/
*/
td.td-currency { position: relative; }
td.td-currency span::before {
    content: "Q.";
    position: absolute;
    left: 5px;
}
#addProductContainer { display: none; }
#addCustomerContainer { display: none; }
input#price { text-align: right; }
